<%= render "shared/header" %>

<div class="user-show">
  <div class="user-box">
    <div class="user-content">
      <% if @user.profile.blank? || @user.profile.header_image.blank? %>
        <%= image_tag "user-sample-image.png", class:"user-box-img" %>
      <% else %>
        <%= image_tag @user.profile.header_image, class:"user-box-img" %>
      <% end %>
      <div class="user-img-icon">
        <% if @user.profile.blank? || @user.profile.icon_image.blank? %>
          <%= image_tag "profile_icon.png", class:"user-icon" %>
        <% else %>
          <%= image_tag @user.profile.icon_image, class:"user-icon"%>
        <% end %>
      </div>
      <div class="user-name">
        <%= @user.nickname %>
          <div class="item-count">
            <p>出品数 <%= @user.items.count %></p>
          </div>
      </div>
    </div>
    <div class="user-profile">
      <% if @user.profile.blank? || @user.profile.text.blank? %>
        <p>よろしくお願いします！</p>
      <% else %>
        <p><%=safe_join(@user.profile.text.split("\n"),tag(:br)) %></p>
      <% end %>
    </div>
    <b class="page-heading">
      <% if @user.items.present? %>
        <%= "#{@user.nickname}の商品"%>
      <% end %>
    </b>
    <div class="user-item-contents">
      <ul class="user-item-lists">
        <%= render partial: 'items/item', collection: @items %>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/footer" %>